In [1]:
import pandas as pd

In [31]:
file1 = pd.read_excel('File1.xlsx', sheet_name='Sheet_A', index_col=0)
file2 = pd.read_excel('File2.xlsx', sheet_name='Sheet_A', index_col=0)
file3 = pd.read_excel('File3.xlsx', sheet_name='Sheet_A', index_col=0)
file4 = pd.read_excel('File4.xlsx', sheet_name='Sheet_A', index_col=0)

In [32]:
df_users = pd.concat([file1, file2, file3, file4])

In [33]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8513 entries, 0 to 8512
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                8513 non-null   int64
 1   username          8513 non-null   object
 2   location_city     8513 non-null   object
 3   location_state    8512 non-null   object
 4   location_country  8513 non-null   object
 5   location          6702 non-null   object
 6   user_category     8513 non-null   object
 7   subcategories     4442 non-null   object
dtypes: int64(1), object(7)
memory usage: 598.6+ KB

In [34]:
df_users

,id,username,location_city,location_state,location_country,location,user_category,subcategories
0,1133449609983025154,DocBio1509,Unknown,Mecklenburg-Vorpommern,Germany,Greifswald,PostDoc,NaN
1,709053907767525376,franzomator,Vienna,Unknown,Austria,"Wien, Ã–sterreich",Others,NaN
2,1244061463,SebastianKubon,Unknown,Unknown,Unknown,NaN,PostDoc,RA
3,934565197423038465,historiavocis,Unknown,Unknown,Unknown,NaN,PostDoc,NaN
4,977593370720854018,dorothee_goetze,Unknown,Unknown,Unknown,NaN,Lecturer,NaN
...,...,...,...,...,...,...,...,...
8508,1393486153043484685,tos_network,Kiryu,Unknown,Japan,Japan,Others,Organization
8509,262168292,sinautocorrect,Bogota,Unknown,Colombia,"BogotÃ¡, Colombia",Unknown,NaN
8510,867656971108978689,goedelprojekt,Berlin,Unknown,Germany,"Berlin, Deutschland",Others,Institute
8511,283258698,Regendelfin,Paris,Ile-de-France,France,Paris,Others,Model
8512,329984940,JWTorg,Middletown,Connecticut,United States,"Middletown, CT",Professor,Assistant

In [35]:
df_users_og = pd.read_csv('Processed_User_Data_with_loc_cat_tweets.csv')

In [36]:
df_users_og["location_city"] = df_users["location_city"]
df_users_og["location_state"] = df_users["location_state"]
df_users_og["location_country"] = df_users["location_country"]
df_users_og["user_category"] = df_users["user_category"]
df_users_og["subcategories"] = df_users["subcategories"]

In [37]:
df_users_og

,id,name,username,created_at,description,updated_bio,translated_bio,public_metrics_followers_count,public_metrics_following_count,public_metrics_tweet_count,...,extracted_mentions,extracted_hashtags,tweets_in_dataset,retweets_in_dataset,location_city,location_state,location_country,location,user_category,subcategories
0,1133449609983025154,@StefanGross@mastodon.socialðŸ‡ºðŸ‡¦ðŸ‡ºðŸ‡¦ðŸ’™ðŸ’›,DocBio1509,2019-05-28 19:07:00+00:00,"biologist, epidemiologist, biostatistician, sc...",biologist epidemiologist biostatistician scien...,biologist epidemiologist biostatistician scien...,249,767,9241,...,NaN,['UMG'],220,225,Unknown,Mecklenburg-Vorpommern,Germany,Greifswald,PostDoc,NaN
1,709053907767525376,Franz ðŸ‡ªðŸ‡ºðŸŽ¸ðŸ˜·ðŸš²ðŸ¦†,franzomator,2016-03-13 16:30:00+00:00,Mis-chief twit.\r\nIm KÃ¼hlschrank brennt noch ...,mis chief twit im kÃ¼hlschrank brennt noch lich...,mis chief twit the fridge is still lit politic...,322,707,27733,...,NaN,NaN,3,9,Vienna,Unknown,Austria,"Wien, Ã–sterreich",Others,NaN
2,1244061463,Sebastian Kubon,SebastianKubon,2013-03-05 15:58:57+00:00,"Historiker (Mittelalter, Public History, Food ...",historiker mittelalter public history food his...,historian middle ages public history food hist...,4449,4994,10369,...,NaN,['IchBinHanna'],126,1451,Unknown,Unknown,Unknown,NaN,PostDoc,RA
3,934565197423038465,Christiane Gante,historiavocis,2017-11-25 23:31:21+00:00,"Historical Linguist, Lexicographer, ... \r\nRe...",historical linguist lexicographer really into ...,historical linguist lexicographer really into ...,554,306,20687,...,NaN,NaN,126,3197,Unknown,Unknown,Unknown,NaN,PostDoc,NaN
4,977593370720854018,DorothÃ©e Goetze,dorothee_goetze,2018-03-24 17:09:57+00:00,"Historikerin, die sich fragt, wo dieses Twitte...",historikerin die sich fragt wo dieses twitter ...,historian who wonders where this twitter actua...,822,486,24616,...,NaN,NaN,772,5050,Unknown,Unknown,Unknown,NaN,Lecturer,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8508,1393486153043484685,TOS Network,tos_network,2021-05-15 08:39:32+00:00,"The fee-less MetaOS, next generation web3.0 ne...",the fee less metaos next generation web networ...,the fee less metaos next generation web networ...,36642,13,12,...,NaN,NaN,1,0,Kiryu,Unknown,Japan,Japan,Others,Organization
8509,262168292,Alexandra Montenegro,sinautocorrect,2011-03-07 14:12:40+00:00,"LingÃ¼ista anticapacitista, feminista y autista...",lingÃ¼ista anticapacitista feminista y autista ...,feminist and autistic anti-capacitist linguist...,5599,628,5390,...,NaN,NaN,1,0,Bogota,Unknown,Colombia,"BogotÃ¡, Colombia",Unknown,NaN
8510,867656971108978689,Kurt GÃ¶del Freundeskreis Berlin,goedelprojekt,2017-05-25 08:21:57+00:00,lobt zweijÃ¤hrlich den Kurt GÃ¶del Preis aus. We...,lobt zweijÃ¤hrlich den kurt gÃ¶del preis aus wei...,praises the kurt gÃ¶del prize every two years m...,263,315,503,...,NaN,NaN,1,0,Berlin,Unknown,Germany,"Berlin, Deutschland",Others,Institute
8511,283258698,Marie von den Benken,Regendelfin,2011-04-16 22:58:17+00:00,"Chefreporterin GNTM. Alles, was Sie Ã¼ber Twitt...",chefreporterin gntm alles was sie Ã¼ber twitter...,chief reporter gntm everything you need to kno...,238687,270,30831,...,NaN,NaN,1,0,Paris,Ile-de-France,France,Paris,Others,Model
8512,329984940,Jesse W. Torgerson,JWTorg,2011-07-05 22:44:59+00:00,Asst. Prof. College of Letters at Wesleyan Uni...,asst prof college of letters at wesleyan unive...,asst prof college of letters at wesleyan unive...,907,1184,5347,...,NaN,NaN,1,0,Middletown,Connecticut,United States,"Middletown, CT",Professor,Assistant

In [38]:
df_users_og.to_csv('Final_Users_File.csv', index=False)

In [39]:
df_users_og = pd.read_csv('Final_Users_File.csv')

In [40]:
df_users_og

,id,name,username,created_at,description,updated_bio,translated_bio,public_metrics_followers_count,public_metrics_following_count,public_metrics_tweet_count,...,extracted_mentions,extracted_hashtags,tweets_in_dataset,retweets_in_dataset,location_city,location_state,location_country,location,user_category,subcategories
0,1133449609983025154,@StefanGross@mastodon.socialðŸ‡ºðŸ‡¦ðŸ‡ºðŸ‡¦ðŸ’™ðŸ’›,DocBio1509,2019-05-28 19:07:00+00:00,"biologist, epidemiologist, biostatistician, sc...",biologist epidemiologist biostatistician scien...,biologist epidemiologist biostatistician scien...,249,767,9241,...,NaN,['UMG'],220,225,Unknown,Mecklenburg-Vorpommern,Germany,Greifswald,PostDoc,NaN
1,709053907767525376,Franz ðŸ‡ªðŸ‡ºðŸŽ¸ðŸ˜·ðŸš²ðŸ¦†,franzomator,2016-03-13 16:30:00+00:00,Mis-chief twit.\r\nIm KÃ¼hlschrank brennt noch ...,mis chief twit im kÃ¼hlschrank brennt noch lich...,mis chief twit the fridge is still lit politic...,322,707,27733,...,NaN,NaN,3,9,Vienna,Unknown,Austria,"Wien, Ã–sterreich",Others,NaN
2,1244061463,Sebastian Kubon,SebastianKubon,2013-03-05 15:58:57+00:00,"Historiker (Mittelalter, Public History, Food ...",historiker mittelalter public history food his...,historian middle ages public history food hist...,4449,4994,10369,...,NaN,['IchBinHanna'],126,1451,Unknown,Unknown,Unknown,NaN,PostDoc,RA
3,934565197423038465,Christiane Gante,historiavocis,2017-11-25 23:31:21+00:00,"Historical Linguist, Lexicographer, ... \r\nRe...",historical linguist lexicographer really into ...,historical linguist lexicographer really into ...,554,306,20687,...,NaN,NaN,126,3197,Unknown,Unknown,Unknown,NaN,PostDoc,NaN
4,977593370720854018,DorothÃ©e Goetze,dorothee_goetze,2018-03-24 17:09:57+00:00,"Historikerin, die sich fragt, wo dieses Twitte...",historikerin die sich fragt wo dieses twitter ...,historian who wonders where this twitter actua...,822,486,24616,...,NaN,NaN,772,5050,Unknown,Unknown,Unknown,NaN,Lecturer,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8508,1393486153043484685,TOS Network,tos_network,2021-05-15 08:39:32+00:00,"The fee-less MetaOS, next generation web3.0 ne...",the fee less metaos next generation web networ...,the fee less metaos next generation web networ...,36642,13,12,...,NaN,NaN,1,0,Kiryu,Unknown,Japan,Japan,Others,Organization
8509,262168292,Alexandra Montenegro,sinautocorrect,2011-03-07 14:12:40+00:00,"LingÃ¼ista anticapacitista, feminista y autista...",lingÃ¼ista anticapacitista feminista y autista ...,feminist and autistic anti-capacitist linguist...,5599,628,5390,...,NaN,NaN,1,0,Bogota,Unknown,Colombia,"BogotÃ¡, Colombia",Unknown,NaN
8510,867656971108978689,Kurt GÃ¶del Freundeskreis Berlin,goedelprojekt,2017-05-25 08:21:57+00:00,lobt zweijÃ¤hrlich den Kurt GÃ¶del Preis aus. We...,lobt zweijÃ¤hrlich den kurt gÃ¶del preis aus wei...,praises the kurt gÃ¶del prize every two years m...,263,315,503,...,NaN,NaN,1,0,Berlin,Unknown,Germany,"Berlin, Deutschland",Others,Institute
8511,283258698,Marie von den Benken,Regendelfin,2011-04-16 22:58:17+00:00,"Chefreporterin GNTM. Alles, was Sie Ã¼ber Twitt...",chefreporterin gntm alles was sie Ã¼ber twitter...,chief reporter gntm everything you need to kno...,238687,270,30831,...,NaN,NaN,1,0,Paris,Ile-de-France,France,Paris,Others,Model
8512,329984940,Jesse W. Torgerson,JWTorg,2011-07-05 22:44:59+00:00,Asst. Prof. College of Letters at Wesleyan Uni...,asst prof college of letters at wesleyan unive...,asst prof college of letters at wesleyan unive...,907,1184,5347,...,NaN,NaN,1,0,Middletown,Connecticut,United States,"Middletown, CT",Professor,Assistant

In [35]:
df_users_og[df_users_og['username'] == 'Glombkat']

,id,name,username,created_at,description,updated_bio,translated_bio,public_metrics_followers_count,public_metrics_following_count,public_metrics_tweet_count,...,extracted_urls,extracted_mentions,extracted_hashtags,tweets_in_dataset,retweets_in_dataset,location_city,location_state,location_country,location,user_category
4285,783276646568787968,Katharina Glomb,Glombkat,2016-10-04 12:04:40+00:00,"Brain network dynamics in EEG and fMRI, combin...",brain network dynamics in eeg and fmri combine...,brain network dynamics in eeg and fmri combine...,486,379,384,...,['https://sites.google.com/view/katharina-glomb'],NaN,NaN,1,2,Unknown,Baden-WÃ¼rttemberg,Germany,"TÃ¼bingen, Deutschland",Unknown

In [71]:
temp = pd.merge(df_users,df_users_og,on='index',how='outer')

In [73]:
temp

,index,id_x,username_x,location_city_x,location_state_x,location_country_x,location_x,user_category_x,subcategories,id_y,...,extracted_urls,extracted_mentions,extracted_hashtags,tweets_in_dataset,retweets_in_dataset,location_city_y,location_state_y,location_country_y,location_y,user_category_y
0,0,1133449609983025154,DocBio1509,Unknown,Mecklenburg-Vorpommern,Germany,Greifswald,PostDoc,NaN,1133449609983025154,...,['https://www.researchgate.net/profile/Stefan_...,NaN,['UMG'],220,225,Unknown,Mecklenburg-Vorpommern,Germany,Greifswald,Professor
1,1,709053907767525376,franzomator,Vienna,Unknown,Austria,"Wien, Ã–sterreich",Others,NaN,709053907767525376,...,NaN,NaN,NaN,3,9,Vienna,Unknown,Austria,"Wien, Ã–sterreich",Others-Economics
2,2,1244061463,SebastianKubon,Unknown,Unknown,Unknown,NaN,PostDoc,RA,1244061463,...,"['https://www.kubon.info', 'http://ichbinhanna...",NaN,['IchBinHanna'],126,1451,Unknown,Unknown,Unknown,NaN,Others-Historian
3,3,934565197423038465,historiavocis,Unknown,Unknown,Unknown,NaN,PostDoc,NaN,934565197423038465,...,NaN,NaN,NaN,126,3197,Unknown,Unknown,Unknown,NaN,Others-Literature
4,4,977593370720854018,dorothee_goetze,Unknown,Unknown,Unknown,NaN,Lecturer,NaN,977593370720854018,...,NaN,NaN,NaN,772,5050,Unknown,Unknown,Unknown,NaN,Others-Historian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8508,8508,1393486153043484685,tos_network,Kiryu,Unknown,Japan,Japan,Others,Organization,1393486153043484685,...,"['http://tos.network', 'http://t.me/tos_network']",NaN,NaN,1,0,Kiryu,Unknown,Japan,Japan,Unknown
8509,8509,262168292,sinautocorrect,Bogota,Unknown,Colombia,"BogotÃ¡, Colombia",Unknown,NaN,262168292,...,NaN,NaN,NaN,1,0,Bogota,Unknown,Colombia,"BogotÃ¡, Colombia",Others-Literature
8510,8510,867656971108978689,goedelprojekt,Berlin,Unknown,Germany,"Berlin, Deutschland",Others,Institute,867656971108978689,...,"['http://www.kurtgoedel.de', 'http://kurtgoede...",NaN,NaN,1,0,Berlin,Unknown,Germany,"Berlin, Deutschland",Unknown
8511,8511,283258698,Regendelfin,Paris,Ile-de-France,France,Paris,Others,Model,283258698,...,"['http://www.instagram.com/regendelfin', 'http...",NaN,NaN,1,0,Paris,Ile-de-France,France,Paris,Others-Politics
8512,8512,329984940,JWTorg,Middletown,Connecticut,United States,"Middletown, CT",Professor,Assistant,329984940,...,"['http://travelerslab.wesleyan.edu', 'http://j...",NaN,NaN,1,0,Middletown,Connecticut,United States,"Middletown, CT",Professor

In [75]:
temp['id_x'] = temp['id_x'].astype(str)
temp['id_y'] = temp['id_y'].astype(str)
options = {}
options['strings_to_formulas'] = False
options['strings_to_urls'] = False
writer = pd.ExcelWriter('temp.xlsx', engine='xlsxwriter', engine_kwargs={'options': options})
temp.to_excel(writer, sheet_name='Sheet_A')
writer.save()

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_13672\399398626.py:8: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [69]:
df_users.reset_index(level=0, inplace=True)

In [41]:
df_tweets = pd.read_csv('Processed_Tweet_Data.csv')

In [42]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47700 entries, 0 to 47699
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   idx                           47700 non-null  int64
 1   id                            47700 non-null  int64
 2   author_id                     47700 non-null  int64
 3   text                          47700 non-null  object
 4   updated_text                  47700 non-null  object
 5   created_at                    47700 non-null  object
 6   lang                          47700 non-null  object
 7   public_metrics_retweet_count  47700 non-null  int64
 8   public_metrics_reply_count    47700 non-null  int64
 9   public_metrics_like_count     47700 non-null  int64
 10  public_metrics_quote_count    47700 non-null  int64
 11  extracted_urls                47700 non-null  object
 12  extracted_mentions            47700 non-null  object
 13  extracted_hashtags            47700 non-null  object
dtypes: int64(7), object(7)
memory usage: 5.1+ MB

In [43]:
temp = pd.merge(df_tweets,df_users_og,left_on='author_id', right_on='id', how='outer')

In [44]:
temp2 = temp[['idx','id_x','author_id','text','updated_text','created_at_x','lang','public_metrics_retweet_count','public_metrics_reply_count','public_metrics_like_count','public_metrics_quote_count','extracted_urls_x','extracted_mentions_x','extracted_hashtags_x','location_city','location_state','location_country','location','user_category','subcategories']]

In [45]:
temp2.to_csv('Final_Tweet_Data.csv', index=False)

In [48]:
temp2 = pd.read_csv('Final_Tweet_Data.csv')

In [50]:
temp2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47700 entries, 0 to 47699
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   idx                           47700 non-null  int64
 1   id                            47700 non-null  int64
 2   author_id                     47700 non-null  int64
 3   text                          47700 non-null  object
 4   updated_text                  47700 non-null  object
 5   created_at                    47700 non-null  object
 6   lang                          47700 non-null  object
 7   public_metrics_retweet_count  47700 non-null  int64
 8   public_metrics_reply_count    47700 non-null  int64
 9   public_metrics_like_count     47700 non-null  int64
 10  public_metrics_quote_count    47700 non-null  int64
 11  extracted_urls                47700 non-null  object
 12  extracted_mentions            47700 non-null  object
 13  extracted_hashtags            47700 non-null  object
 14  location_city                 47692 non-null  object
 15  location_state                47680 non-null  object
 16  location_country              47692 non-null  object
 17  location                      33070 non-null  object
 18  user_category                 47692 non-null  object
 19  subcategories                 16657 non-null  object
dtypes: int64(7), object(13)
memory usage: 7.3+ MB

,old_idx,id,author_id,text,updated_text,created_at,lang,public_metrics_retweet_count,public_metrics_reply_count,public_metrics_like_count,public_metrics_quote_count,extracted_urls,extracted_mentions,extracted_hashtags,location_city,location_state,location_country,location,user_category,subcategories
0,0,1587227874699902979,1133449609983025154,ðŸ‘†Das zeigt sich u.a. in der #IchbinHanna #Wiss...,das zeigt sich u a in der diskussion oft beoba...,2022-10-31 23:39:49+00:00,de,0,0,10,0,__NA__,__NA__,"['IchbinHanna', 'WissZeitVG']",Unknown,Mecklenburg-Vorpommern,Germany,Greifswald,PostDoc,NaN
1,41,1587225260902031360,1133449609983025154,â€žDie Meritokratie erzeugt tatsÃ¤chlich leistung...,die meritokratie erzeugt tatsÃ¤chlich leistungs...,2022-10-31 23:29:26+00:00,de,1,1,7,0,__NA__,__NA__,__NA__,Unknown,Mecklenburg-Vorpommern,Germany,Greifswald,PostDoc,NaN
2,5645,1482409620194930689,1133449609983025154,@AmreiBahr @Uni_Stuttgart Good News. ðŸ‘ \nAber ...,good news aber mal generell wie sinnbefreit si...,2022-01-15 17:49:29+00:00,de,5,0,23,0,__NA__,"['1260870565541396480', '54570476']","['IchBinHanna', 'WisssystemFehler']",Unknown,Mecklenburg-Vorpommern,Germany,Greifswald,PostDoc,NaN
3,7493,1450931204019064837,1133449609983025154,#IchBinHanna #wisssystemfehler #95vsWissZeitVG...,__NA__,2021-10-20 21:05:30+00:00,qht,3,0,9,0,['https://twitter.com/doc_scholz/status/145085...,__NA__,"['IchBinHanna', 'wisssystemfehler', '95vsWissZ...",Unknown,Mecklenburg-Vorpommern,Germany,Greifswald,PostDoc,NaN
4,7521,1450166009051111426,1133449609983025154,Woran das wohl liegt? ðŸ¤”ðŸ§ #IchBinHanna #wisssys...,woran das wohl liegt mehr fÃ¼r die unis wieder fÃ¼r,2021-10-18 18:24:53+00:00,de,5,0,10,0,['https://twitter.com/DrKEichhorn/status/14500...,__NA__,"['IchBinHanna', 'wisssystemfehler', '95vsWissZ...",Unknown,Mecklenburg-Vorpommern,Germany,Greifswald,PostDoc,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47695,176616,1402951793286463488,1306284693214629888,Ich habe nach der Lehre zur Einzelhandelskauff...,ich habe nach der lehre zur einzelhandelskauff...,2021-06-10 11:32:27+00:00,de,0,1,2,0,__NA__,__NA__,['IchbinHanna'],Unknown,Unknown,Unknown,ðŸ‡©ðŸ‡ª #Ampel Dummland,Unknown,NaN
47696,176630,1402911285914841094,256582223,@anna_neumaier @DrKEichhorn @BMBF_Bund Also ic...,also ich bin jetzt total Ã¼berzeugt vom toll da...,2021-06-10 08:51:30+00:00,de,0,0,5,0,__NA__,"['1883790510', '730098730943324162', '29697277...",['WissZeitVG'],Bochum,North Rhine-Westphalia,Germany,"Bochum, Germany",PostDoc,Lecturer
47697,176675,1559110620972285953,151775715,"HÃ¤tte nicht gedacht, dass ich das nochmal sage...",hÃ¤tte nicht gedacht dass ich das nochmal sagen...,2022-08-15 09:31:53+00:00,de,0,2,13,0,__NA__,__NA__,"['IchBinNichtMehrHanna', 'IchBinHanna']",Hamburg,Unknown,Germany,Hamburg,PostDoc,Scientific Assistant
47698,176676,1559109649995124738,151775715,Frisch zurÃ¼ck aus dem Urlaub gibt's some perso...,frisch zurÃ¼ck aus dem urlaub gibt s some perso...,2022-08-15 09:28:02+00:00,de,0,25,108,1,['https://twitter.com/andreasbusen/status/1559...,['1040663037328457729'],__NA__,Hamburg,Unknown,Germany,Hamburg,PostDoc,Scientific Assistant
47699,176695,1558448232631762944,329984940,fellow profs: #academicprecarity is OUR proble...,fellow profs is our problem see this collectio...,2022-08-13 13:39:47+00:00,en,2,0,4,0,['https://twitter.com/dwebsterhist/status/1556...,__NA__,['academicprecarity'],Middletown,Connecticut,United States,"Middletown, CT",Professor,Assistant